.table-Bintobin-Axapta {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    max-height: 600px;
    min-height: 270px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #021F69;
    border-radius: 3px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-Bintobin-Axapta table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.table-Bintobin-Axapta table thead {
    background-color: #021F69;
    background-color: #021F69;
    color: white;
}

.table-Bintobin-Axapta table thead tr th {
    padding: 12px;
    border: 1px solid #ccc;
    font-weight: 600;
    text-transform: uppercase;
}

/* change table row background */
.table-Bintobin-Axapta table tbody tr:nth-child(even) {
    /* background-color: rgb(242, 242, 221); */
    background-color: #f3f3f3;
}

.table-Bintobin-Axapta table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-size: 10px;
}

.table-Bintobin-Axapta table thead {
    background-color: #021F69;
    color: white;
}

.table-Bintobin-Axapta table thead tr th {
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #ccc;
}

.table-Bintobin-Axapta table tbody tr td {
    font-size: 14px;
    /* adjust font size as desired */
    padding: 10px;
    border: 1px solid black;
    /* min height should be 30 */
    color: #00006A;
    font-weight: 600;
    text-align: center;
    height: 25px;
}

.table-Bintobin-Axapta table thead tr th:nth-child(1),
.table-Bintobin-Axapta table thead tr th:nth-child(2),
.table-Bintobin-Axapta table thead tr th:nth-child(3),
.table-Bintobin-Axapta table thead tr th:nth-child(4),
.table-Bintobin-Axapta table thead tr th:nth-child(5),
.table-Bintobin-Axapta table thead tr th:nth-child(6),
.table-Bintobin-Axapta table thead tr th:nth-child(7),
.table-Bintobin-Axapta table thead tr th:nth-child(8),
.table-Bintobin-Axapta table thead tr th:nth-child(9) {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-Bintobin-Axapta table tbody tr td:nth-child(1),
.table-Bintobin-Axapta table tbody tr td:nth-child(2),
.table-Bintobin-Axapta table tbody tr td:nth-child(3),
.table-Bintobin-Axapta table tbody tr td:nth-child(4),
.table-Bintobin-Axapta table tbody tr td:nth-child(5),
.table-Bintobin-Axapta table tbody tr td:nth-child(6),
.table-Bintobin-Axapta table tbody tr td:nth-child(7),
.table-Bintobin-Axapta table tbody tr td:nth-child(8),
.table-Bintobin-Axapta table tbody tr td:nth-child(9) {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* change table row background */
.table-Bintobin-Axapta table tbody tr:nth-child(even) {
    background-color: rgb(242, 242, 221);
}


.table-Bintobin-Axapta table tfoot {
    background-color: white;
    color: #00006A;
}

.table-Bintobin-Axapta table tfoot tr td {
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #ccc;
    text-align: center;
}